img {
  display: block;
  width: 100%;
  height: auto;
}

.item {
  position: relative;
  width: 100%;
}

.div0 .intro h1 {
  font-size: 2rem;
  line-height: 1;
}

.intro h1 {
  font-size: 1.2rem;
  line-height: 1;
}
