.searchBox {
  width: 232px;
}

.bookmark {
  color: white;
  padding-right: 10px;
}

.toggleText {
  color: white;
  padding-right: 1%;
}

.toggleTextG {
  color: white;
  padding-left: 1%;
}

.textBut {
  color: white;
}

.navBar {
  background-color: #09357b;
  height: 126px;
}

.logo {
  width: 132px;
  float: left;
  margin-top: 33px;
}

/**Search Button **/
.button {
  display: inline-block;
  margin: 4px 2px;
  background-color: transparent;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: transparent;
  color: white;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 76px 4px 0;
  height: 50px;
  width: 70px;
  vertical-align: bottom;
  float: right;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid;
  z-index: 99;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: transparent;
  color: white;
}

.search {
  position: absolute;
  left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: #2153a3;
  color: #fff;
  outline: none;
  border-bottom: 4px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
}

::placeholder {
  color: #6f8fc3;
}

.search:focus {
  width: 363px; /* Bar width+1px */
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: -26px;
}

.expandright:focus {
  padding: 0 0 0 16px;
}
